
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color: #181818;
}

.accordion {
    background-color: #fff;
    padding: 25px;
    border-radius: 30px;
    max-width: 630px;
    width: 100%;
}